#startBtn {
    margin-top: 100;
    font-size: 24px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    width: 90%;
    height: 25%;
}
#btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    height: 150px;
    width: 250px;
}
h2 {
    color: #333;
    text-align: center;
}