body {
  background-color: #f0f2f5;
}
.main {
  display: flex;
  justify-content: center;
}
.dashboard-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 75%;
  margin-top: 200px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;

  font-size: 30px;
  border-radius: 10px;
}
.container p {
  width: 250px;
  justify-content: left;
}
