body {
  background-color: #f0f2f5;
}
.hidden {
  display: none;
}

.container {
  text-align: center;
  margin-top: 20px;
}

.profileCard {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 2%;
  display: inline-block;
  text-align: center;
}

#profileImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

input,
textarea {
  width: 80%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none; /* Prevent resizing of the textarea */
}

button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

button:hover {
  background-color: #0056b3;
}

#cancelEditBtn {
  background-color: #dc3545;
}

#cancelEditBtn:hover {
  background-color: #c82333;
}
