body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f2f5;
  color: white;
}
.container {
  width: 60%;
  margin: auto;
  background: #f0f2f5;
  padding: 20px;
  border-radius: 10px;
}
.leaderboard,
.rewards {
  margin-top: 20px;
}
.user {
  display: flex;
  justify-content: space-between;
  background: #f0f2f5;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}
.btn {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  background: #008cba;
  color: white;
  border: none;
  border-radius: 5px;
}
